# Джарники модов (восстанавливаются packwiz'ом)
mods/*.jar

# Данные мира и игроков
world/
saves/
playerdata/

# Логи и мусор
logs/
crash-reports/
*.log

# Кэши лаунчеров и системы
.mixin.out/
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/MC-ASI-Online.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml

# MkDocs build output
site/
